# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info

# keep this tracked (recommended)
!.terraform.lock.hcl

